

h1 {
    font-size:1.5em;
    color: grey;
    border: 1px orange solid;
    text-align:center;
}

div {
    width:calc(50%); 
    padding:0.5em;
}

span {
    word-wrap: break-word;
}

p {
    width:100%; 
    display:block;
    text-align:left;
}

.top-container {
    display:flex;
    width:100%;
    height:450px;
}

.bottom-container {
    width:100%;
    display:flex;
}

.terminal {
    width:95%;
    padding:0.5em;  
    word-wrap: break-word;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }